{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6.10"
        }
      }
    ]
  ],
  "plugins": [
    ["transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./functions"
        ],
        "alias": {
          "@src(.*)": "./functions/"
        }
      }
    ]
  ]
}
